* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: background-color 0.4s, color 0.2s;
}

body {
    background-color: #DFD3C3;
    color: #37353E;
}

.main-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.main-table td {
    padding: 7px;
    vertical-align: middle;
}


.parent-cell {
    width: 35%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 25px 30px;
}

#parent-time {
    color: #3E5F44;
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 40px;
    width: 100%;
}

.button-container {
    display: flex;
    gap: 18px;
    justify-content: center;
}

#reset-button, #pause-button {
    max-width: 160px;
    padding: 16px;
    font-size: 17px;
    color: #37353E;
    background: transparent;
    border: 1px solid #37353E;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: all 0.3s;
}

#pause-button { display: none; }

#theme-toggle {
    color: #37353E;
    position: absolute;
    top: 24px;
    right: 16px;
    background: transparent;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    text-shadow: 3px 3px 8px #37353E80;
}

#reset-button:hover,
#pause-button:hover {
    color: #DFD3C3;
    border: none;
    transform: scale(0.94);
}

#reset-button:hover { background: #DC2525; }
#pause-button:hover { background: #3E5F44; }
#theme-toggle:hover { transform: scale(1.50); }


.children-cell { 
    width: 65%; 
    height: 100%; 
}

.grid-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.grid-table td { 
    padding: 7px; 
}

.child-card {
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s;
    box-shadow: 1px 1px #37353e4d;
}

.child-card:hover { transform: scale(1.03); }

.group-a { background-color: #D5C7A3; }
.group-b { background-color: #BDB395; }
.group-break { background-color: #f2e2b180; }

.child-label {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 7px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-display {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 18px 10px;
    width: 100%;
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-card.running {
    color: #3E5F44;
    background: transparent;
    transform: scale(1.20);
    box-shadow: none;
}

/* Dark Mode */
body.dark {
    background-color: #1A1A1D;
    color: #D3DAD9;
}

body.dark #parent-time { color: #4ade80; }

body.dark #reset-button,
body.dark #pause-button {
    background: transparent;
    color: #D3DAD9;
    border: 1px solid #D3DAD9;
}

body.dark #theme-toggle {
    color: #D3DAD9;
    text-shadow: 3px 3px 8px #d3dad980;
}

body.dark #reset-button:hover,
body.dark #pause-button:hover {
    color: #1A1A1D;
    border: none;
}

body.dark #reset-button:hover { background: #DC2525; }
body.dark #pause-button:hover { background: #4ade80; }

body.dark .child-card {
    box-shadow: 1px 1px black;
}

body.dark .group-a { background-color: #31363F; }
body.dark .group-b { background-color: #222831; }
body.dark .group-break { background-color: #34495580; }

body.dark .child-card.running {
    color: #4ade80;
    background: transparent;
    box-shadow: none;
}